/*Colours
#DBA79D - Salmony pink
#878E88 - green/grey
#96C0B7 - bluey green
#D4DFC7 - greeny/yellow
#FEF6C9 - yellow
*/


/*Global Styles*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header{
    padding-top: 50px;
    position: relative;
}

h1, h2{
    font-family: 'Permanent Marker', cursive;
    margin: 0;
}
h1{
    font-size: 80px;
    font-weight: 100;
}
h2{
    font-size: 42px;
    font-weight: 100;
    margin-top: 0;
}

h3{
    margin: 0;
}

a{
    color: #DBA79D;
}
a:hover{
    text-decoration: none;
    color: #878E88;
}

p{
    font-size: 20px;
    line-height: 150%;
}

.uppercase{
    text-transform: uppercase;
}

.content-wrapper{
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: auto;
}

.col-narrow{
    width:30%;
    float: left;
}

.col-wide{
    width:70%;
    float:left;
    padding-left: 20px;
}

.btn{
    text-decoration: none;
    background: #FEF6C9;
    color: #DBA79D;
    padding: 10px;
    display: inline-block;
}


/*Header and Footer*/


header, footer {
    background: #878E88;
    color: #D4DFC7;
}
header h1, header h2, footer h2{
    color: #DBA79D;
}


/*header*/
.profile-img{
    border-radius: 50%;
}

.download{
    position: absolute;
    bottom: 0;
    right: 0;
}

/*Navigation*/

nav{
    text-align: center;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

/*footer*/

footer{
    text-align: center;
}

.contact-info a{
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
}

.contact-info a:hover{
    text-decoration: none;
    color: #FEF6C9;
}

/*Work Experpience*/
.work {
    background: #D4DFC7;
}
h3 ~ p{
    margin: 0;
}
.job-description{
    margin-bottom: 25px;
}
.job-description p:first-of-type{
    margin-top: 0;
    }

/*Education*/
.education {
    background: #FEF6C9;
}

.edu-description{
    margin-bottom: 25px;
}

.edu-description p:first-of-type{
    margin-top: 0;
}
